<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>this is a home page</h1>
    <h3><%= 1+6 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Necessitatibus maxime deserunt cum fuga quibusdam sed nam
         neque aut itaque debitis exercitationem in dolorem, ipsum 
         minima aspernatur maiores ea consectetur saepe!</p>

      <button>clik me</button>   
</body>
</html>